.Rproj.user
.Rhistory
.RData
.Ruserdata
data/pavia_uni.RData
data/pavia_right.RData
data/pavia_left.RData
data/datasets.RData
data/dim_datasets.csv
data/datasets_dct.RData
data/dim_datasets.csv
data/train_test/tr_ts_50.RData
data/train_test_sam/tr_ts_binded_sam_50_1.RData
data/train_test_sam/tr_ts_sam_50_1.RData
data/kfold_indices/.DS_Store
data/kfold_indices/indices_50.RData
models/binded_50_1.RData
data/class_maps_binded_1.RData
data/class_maps.RData
